@import "/node_modules/primeflex/primeflex.css";

/* FONTS IMPORTS */
@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrains/JetBrainsMono.ttf) format("truetype-variations");
    font-style: normal;
    font-weight: 1 999;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrains/JetBrainsMono-Italic.ttf) format("truetype-variations");
    font-style: italic;
    font-weight: 1 999;
}

/* GLOBAL STYLES */
html {
    scroll-behavior: smooth;
}

:root {
    --white: #ffffff;
    --white-soft: #f8f8f8;
    --white-mute: #f2f2f2;

    --black: #181818;
    --black-soft: #222222;
    --black-mute: #282828;
    --black-mute2x: #3a3a3a;

    --gray: #3f3f3f;
    --gray-soft: #4e4e4e;
    --gray-mute: #5c5c5c;
    --gray-mute2x: #ebebeba3;

    --accent-hl: #6affa1;
    --accent: #1cdb63;
    --accent-soft: #00ff5e;
    --accent-mute: #0e692f;
    --accent-tr: rgba(28, 217, 97, 0.5);

    --error: #ff5050;

    --indigo: #2c3e50;

    --divider-light-1: rgba(60, 60, 60, 0.29);
    --divider-light-2: rgba(60, 60, 60, 0.12);
    --divider-dark-1: rgba(84, 84, 84, 0.65);
    --divider-dark-2: rgba(84, 84, 84, 0.48);

    --text-light-1: var(--indigo);
    --text-light-2: var(--black-mute2x);
    --text-dark-1: var(--white);
    --text-dark-2: var(--gray-mute2x);

    --text-color-1: var(--text-dark-1);
    --text-color-2: var(--text-dark-2);

    --bg-dark: var(--black);
    --bg-light: var(--white);
    --bg-comp-dark: var(--black-mute);
    --bg-comp-light: var(--white-mute);
    --bg-hover-dark: var(--black-soft);
    --bg-hover-light: var(--white-soft);

    --bg: var(--bg-dark);
    --bg-comp: var(--bg-comp-dark);
    --bg-hover: var(--bg-hover-dark);
    --font-family: "JetBrains Mono";
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 30vw;
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-dark);
    color: var(--text-dark-2);
    transition: all 0.3s ease-in-out;
    line-height: 1.6;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-soft);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-mute);
}

::selection {
    background-color: var(--accent-tr);
}

/* CUSTOM STYLES */
.bg-color {
    background-color: var(--bg);
}

.bg-color-mute {
    background-color: var(--bg-comp);
}

.bg-color-soft {
    background-color: var(--bg-hover);
}

.c-accent {
    color: var(--accent);
}

.accent-shadow-text {
    text-shadow: 0 0 5px var(--accent-soft);
}

.hover-accent-shadow-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

.hover-accent-shadow-box:hover {
    box-shadow: 0 0 10px var(--accent-mute);
}

.hover-accent-shadow-box:hover::before {
    box-shadow: inset 0 0 10px var(--accent-mute);
}

.inner-shadow {
    box-shadow: inset 1px 2px 5px #0000002c;
}

/* TITELS & LINKS */
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1,
h2,
a {
    color: var(--accent);
}

a {
    outline: none;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

a:visited {
    color: var(--accent-mute);
}

a:hover,
a:focus {
    color: var(--accent-hl);
    text-shadow: 0 0 3px var(--accent-soft);
}

/* BUTTON */
button,
input::-webkit-file-upload-button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    border: 1px solid var(--accent);
    color: var(--accent);
    padding: 5px 10px;
    border-radius: 10px;
}

button:hover,
button:focus,
input::-webkit-file-upload-button:hover,
.hover-accent:hover {
    transition: 0.2s ease-in-out;
    border: 1px solid var(--accent-hl);
    color: var(--accent-hl);
    text-shadow: 0 0 3px var(--accent);
    box-shadow: 0 0 5px var(--accent-soft);
}

button:hover,
button:focus,
.hover-accent-shadow-box {
    position: relative;
}

button:not(.inverted):hover::before,
button:not(.inverted):focus::before {
    content: "";
    position: absolute;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 8px;
    box-shadow: inset 0 0 5px var(--accent-soft);
}

button.inverted,
input::-webkit-file-upload-button {
    color: var(--bg-comp);
    border: 1px solid transparent;
    background-color: var(--accent);
}

button.inverted:hover,
input::-webkit-file-upload-button:hover {
    color: var(--gray-soft);
}

/* LABEL */
label {
    cursor: pointer;
}

/* INPUT & SELECT */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:not([type="checkbox"]):not([type="radio"]),
select {
    min-height: 23.5px;
    transition: all 0.2s ease-in-out;
    background-color: var(--bg-comp);
    color: var(--text-color-1);
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}

input:hover:not(:focus),
select:hover,
textarea:hover,
input[type="checkbox"]:hover:not(:checked)::before,
input[type="radio"]:hover:not(:checked)::before {
    cursor: pointer;
    background-color: var(--bg-hover);
}

input:not([type="checkbox"]):not([type="radio"]):focus,
select:focus,
textarea:focus {
    background-color: var(--black-mute2x);
}

/* INPUT RADIO & CHECKBOX */
input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    position: relative;
    padding-right: 20px;
}

input[type="checkbox"]::before,
input[type="radio"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    translate: -0% -90%;
    width: 15px;
    height: 15px;
    background-color: var(--bg-comp);
    transition: 0.1s ease;
}

input[type="checkbox"]::before {
    border-radius: 2px;
}

input[type="checkbox"]:checked::before {
    background-color: var(--accent);
    background-image: url("../img/check.svg");
    background-position: 40%;
    box-shadow: 0 0 5px var(--accent-soft);
}

input[type="radio"]::before {
    border-radius: 100%;
}

input[type="radio"]:checked::before {
    background-color: var(--accent);
    box-shadow: 0 0 5px var(--accent-soft);
}

/* INPUT DATE & TIME */
::-webkit-calendar-picker-indicator {
    appearance: none;
    opacity: 0;
    cursor: pointer;
}

input[type="date"],
input[type="time"] {
    position: relative;
}

input[type="date"]::before,
input[type="time"]::before {
    content: "";
    position: absolute;
    top: 25%;
    right: 10px;
    width: 16px;
    height: 16px;
    filter: invert(0.5);
}

input[type="date"]::before {
    background-image: url("../img/calendar.svg");
}

input[type="time"]::before {
    background-image: url("../img/clock.svg");
}

input[type="range"] {
    accent-color: var(--accent);
}

input:user-invalid {
    box-shadow: 0 0px 10px var(--error);
}

/* INPUTBOX */

.input-box {
    position: relative;
    padding-top: 1rem;
}

.input-box:has(input) label {
    position: absolute;
    transition: 0.2s ease-in-out;
    pointer-events: none;
    transform: translateX(0%) translateY(-100%);
}

.input-box:has(input:not(:focus):placeholder-shown) label {
    transform: translatex(10%) translateY(12%);
}

.input-box:has(input[required]) label::after {
    content: "*";
    color: var(--error);
}

textarea {
    color: var(--text-color-1);
    background-color: var(--bg-comp);
    transition: 0.2s ease-in-out;
    resize: none;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 10px;
    min-height: 5rem;
}
